<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>949368704152-ojc5k1ce5qvem87rg6jcn0guceda1vvb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.949368704152-ojc5k1ce5qvem87rg6jcn0guceda1vvb</string>
	<key>API_KEY</key>
	<string>AIzaSyDK40GLHQr_4C66q65yCK-OIOpjGlLngWU</string>
	<key>GCM_SENDER_ID</key>
	<string>949368704152</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ups.edu.ec.curriculum</string>
	<key>PROJECT_ID</key>
	<string>empleos-8df6b</string>
	<key>STORAGE_BUCKET</key>
	<string>empleos-8df6b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:949368704152:ios:de8949000cf4ac476814ed</string>
	<key>DATABASE_URL</key>
	<string>https://empleos-8df6b.firebaseio.com</string>
</dict>
</plist>