<ion-header>
  <ion-toolbar>
    <ion-title>Editar Empleo</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="(empleo | async) as empleo">
  <ion-list lines="full" class="ion-no-margin ion-no-padding">
    <ion-item>
      <ion-label position="floating">Titulo del empleo </ion-label>
      <ion-input required type="text" [(ngModel)]="empleo.titulo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Descripcion</ion-label>
      <ion-textarea [(ngModel)]="empleo.descripcion"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >Salario (Dolares)</ion-label>
      <ion-input [(ngModel)]="empleo.salario"></ion-input>
    </ion-item>
  </ion-list>
  <div class="ion-padding">
    <ion-button color="dark" expand="block" type="submit" class="ion-no-margin" (click)="guardarEmpleo(empleo)">Editar empleo</ion-button>
  </div>

</ion-content>