<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      EMPLEOS CUENCA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">EMPLEOS</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <img src = "assets/img/home.png"/>
    <ion-button color="dark" routerLink="/crear-empleo">Crear un nuevo empleo</ion-button>
    <ion-button color="dark" routerLink="/lista-empleos">Ver lista de empleos</ion-button>
  </div>
</ion-content>
